/*estilos gerais*/
header{
    marning: 0;
    marning: 0;
    padding: 0;
    box-sizing: border-box;
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: #333;
    background-color: #00f7ff;

}
/*cabeçalho*/

header{

    width: 100%;
    padding: 20px;
}
/*menu de navegação*/
{<nav ul
    backgroud-color:#444
    width: 100%
    <home>{

        justify-content: space-around;
        backgroud-color:#444
        text-aling:center;
    }
    <Sobre>{
        text-align: center;
        justify-self: space-around;
        contato{
        <Serviços>{ 
            display: flex;
            justify-content: space-around;
            text-align: center;

           Contato {
            justify-content: space-around;
            text-align: center;
            }
            /*conteudo da página*/
            padding: 50px;
            text-align: center;<bem-vindo!/>
            text-align: center;
            width: 50%;
            font: 30px;
            }
              section id=´´contato´´
              text-align: center;
              h2<sobre nós>/h2>
            }
            section id=sobrtext-align: center;
              h2<sobre nós>/h2>
              text-align: center;
              padding: 24px 0;
              font: 30px;

        
    

