/*estilos gerais*/
{
    marning: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: space-around;
    color: #333;
    background-color: #c7c7c7;

}
/*cabeçalho*/
header {
    background-color: #e4fbfb;
    color: #fff;
    padding: 20px;
    text-align: space-around;
}
/*menu de navegação*/
{nav

    backgroud-color:#444
    padding: 20xp;
    text-aling:space-around;

    home{
        display: flex;
        justify-content: space-around;

    }
    Sobre{
        display: flex;

        justify-self: space-around;
        contato{
            display: flex;
        justify-content: space-around;

        Serviços{ 
            display: flex;
            justify-content: space-around;

           Contato {
            display: flex;
            justify-content: space-around;
            }
            /*conteudo da página*/
            padding: 50px;
            text-align: center;<bem-vindo!/>
            width: 50%;
            font: 30px;
            }
              section id=´´contato´´
              h2<sobre nós>/h2>
              text-align: center;
              padding: 24px 0;
            }
            section id=sobre
              h2<sobre nós>/h2>
              text-align: center;
              padding: 24px 0;

        
    

